/* The scrolling area */
.chat-container {
    height: 400px;
    overflow-y: auto;
    background-color: #ebedef;
    padding: 1rem;
    border: 1px solid #dddbda;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

/* Bubbles */
.bubble {
    max-width: 85%;
    padding: 8px 12px;
    border-radius: 12px;
    margin-bottom: 8px;
    font-size: 0.85rem;
    line-height: 1.4;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.inbound {
    align-self: flex-start;
    background-color: #ffffff;
    color: #080707;
    border-bottom-left-radius: 2px;
}

.outbound {
    align-self: flex-end;
    background-color: #005fb2;
    color: #ffffff;
    border-bottom-right-radius: 2px;
}

.outbound lightning-formatted-rich-text { color: white; }
.outbound a { color: #c9e5fc; text-decoration: underline; }

.meta {
    font-size: 0.7rem;
    margin-bottom: 2px;
    color: #696969;
}
.inbound-meta { text-align: left; margin-left: 8px; }
.outbound-meta { text-align: right; margin-right: 8px; }

/* Footer Area */
.footer {
    margin-top: 10px;
    padding-top: 5px;
}

/* Force text input color to black just in case */
.chat-input {
    --slds-c-textarea-text-color: #000000;
}